#heading {
  width: 100%;
}

body {
  background-color: #cce6ff;
}

#heading1 {
  background-color: #ff0000;
  width: 50%;
  float: left;
}

#heading2 {
  background-color: white;
  width: 50%;
  float: left;
margin: auto;
}


.book {
  width: 100%;
  margin-bottom: 50px;
}

.bookimage {
  float: left;
  width: 48%;
  padding: 1%;
}

.bookreview {
  float: left;
  width: 48%;
  padding: 1%;
}

h1 {
  color: #000000;
  font-size: 2.7em;
}

h2 {
  font-size: 1em;
}
